# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="mysql://user:pass@db:3306/airbag-db"
USER_MARIADB="user"
PASS_ROOT_MARIADB="pass"
PASS_MARIADB="pass"
DB_NAME_MARIADB="airbag-db"
DATABASE_URL_MONGO="mongodb+srv://user:pass@mongo/airbag-db?retryWrites=true&w=majority"
